@font-face {
    font-family: 'LogoFont';
    src: url(fonts/apercu-light-pro.ttf);
}
@font-face {
    font-family: 'Text';
    src: url(fonts/Rotis\ Sans\ Serif\ Std\ 45\ Light.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html , body{
    height: 100%;
    width: 100%;
}

#nav {
    width: 100%;
    height: 11vh;
    /* background-color: black; */
    padding: 32px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

#logo>a{
    font-family: "Text";
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.5px;
    margin-left: 14px;
    color: black;
}

#options button{
    margin-right: 24px;
    border: none;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
    transition: 0.8s;
}

#options button {
    display: inline-block;
    position: relative;
    color:   #0087ca;
  }
  
  #options button:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:   #4fe2e0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  #options button:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }



#pagecent{
    margin-top: 10px;
    padding: 20px;
    height: 60vh;
    width: 100%;
    display: flex;
    background-color: #dadada;
}

#pagecent #lefttext{
    width: 50%;
    height: 100%;
    padding: 0px 30px;
    /* border: 2px solid blue; */
}

#lefttext>h2{
    font-size: 80px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}

#rightimg{
    width: 50%;
    height: 100%;
    padding: 20px;
    /* border: 2px solid red; */
}

#rightimg>img{
    height: 100%;
    opacity: 50%;
    padding: 0px 60px;
}

.auto-type span{
    font-weight: 400;
}


#upload {
    margin-top: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
}

#upload button{
    cursor: pointer;
    font-size: 25px;
    padding: 20px 60px;
    border-radius: 3rem;
    border: 2px solid blue;
    color: black;
    font-family: "Text";
    background: -webkit-linear-gradient(0deg,transparent 50%, #27e8a7 50%);
    background-size: 480px 80px;
    border: 3px solid #27e8a7;
}

button span {
    margin-left: 5vw;
    color: white;
}

